# Create a symlink for easy access as /dev/camera/video_thermal
SUBSYSTEM=="video4linux", ATTR{index}=="0", ATTRS{idVendor}=="0bda", ATTRS{idProduct}=="5830", SYMLINK+="camera/video_thermal"
